*{
  box-sizing: border-box;
}
body{
  font-family: "Montserrat","Noto Sans TC","Calibri light";
  background-color:antiquewhite;
}



div.bg {
  text-align: center;
}

div.bg img{
  opacity: 100%;
}

div.top_img{
  position: absolute;
  top: 460px;
  left: 400px;
  text-align: center;
  color: #ffffff;
}

 div.top_img p.p1 {
  font-size: 60px;
  position: absolute;
  top:-250px;

}

div.top_img p.p2 {
  font-size: 30px;
  position: absolute;
  top: -30px;
}

div.quote p.p3 {
  font-size: 27px;
  padding: 30px;
}

div.main{
  /* width:1000px; */
  text-align: center;
}

div.main::after{
  content: "";
  display: block;
  clear: both;
}

div.main img{
  width: 440px;
  float:inherit;
}

.main{
  /* width:1080px; */
  margin:10px auto;
  background-color: #c1c1c142;
  padding: 40px;
  line-height: 30px;
}

.content{
  height: 650px;
  margin:10px auto;
  background-color: #EBECCD;
  text-align: center;
}

.content p.p1{
  font-size: 40px;
  padding: 35px;

}

.p2 p.p2{
  width: 900px;
  text-align: left;
  padding:20px;
  margin: auto;
  line-height: 30px;
}

.p3 p.p3{
  width: 900px;
  text-align: left;
  padding:20px;
  margin: auto;
  line-height: 30px;

}

.p4 p.p4{
  width: 900px;
  text-align: left;
  padding:20px;
  margin: auto;
  line-height: 30px;

}
