footer.container{
height: 130px;
/* border:1px solid red; */
display: flex;
justify-content: space-around;
align-items:center;
background-color: #e5e7a6c9;
}

footer.container img{
width: 230px;
}

div.footer{
  display: flex;
  /* border:1px solid green; */
  margin-right: 30px;
}

div.footer_right{
  width:600px;
  /* border:1px solid blue; */
}

ul.footer_right{
  width:500px;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

ul.footer_right li a{
  /* border:1px solid red; */
  display: flex;
  flex:1;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-right: 5px;
}

div.icons img{
  /* border: 1px solid pink;   */
  width:40px;
}

div.icons a{
  text-decoration: none;
}
