*{
  box-sizing: border-box;
}

body{
    font-family: "Montserrat","Noto Sans TC","Calibri light";
}

.grid-titile{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: rgb(112, 107, 120);
  text-align: center;
  padding:10px;

}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-column:auto;
  padding: 10px;

}
.grid-item {

  padding: 10px;
  font-size: 12px;
  margin:auto;

}

.grid-item img{
  width:60%;
  margin-left: 90px;
  font-size: 0px;
}

.grid-checkout{
  display: grid;
  grid-template-columns: 100px  auto;
  grid-column-gap: 80px;
  width: 200px;
  color:rgb(69, 113, 58);
  text-align: left;
  margin-top: 50px;
  margin-right:0px;
}

.positioning{
  position:absolute;
  right: 0px;
  margin-right: 90px;
}

button.checkout{
  float: right;
  border: 0;
  margin-top: 200px;
  margin-right: 60px;
  margin-bottom: 100px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

button.checkout:hover{
  background:rgb(39, 98, 18);
}


footer.container{
height: 130px;
/* border:1px solid red; */
display: flex;
justify-content: space-around;
align-items:center;
background-color: #e5e7a6c9;
width: 100%;
bottom:0px;
margin-top: 20px;
}

footer.container img{
width: 230px;
}

div.footer{
  display: flex;
  /* border:1px solid green; */
  margin-right: 30px;
}

div.footer_right{
  width: 500px;
  /* border:1px solid blue; */
}

ul.footer_right{
  width:500px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;

}

ul.footer_right li a{
  /* border:1px solid red; */
  display: flex;
  flex:1;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-right: 5px;
}

div.icons img{
  /* border: 1px solid pink;   */
  width:40px;
}

div.icons a{
  text-decoration: none;
}
